* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
  background: transparent;
}

html,
body {
  background-color: #29286b;
  height: 100%;
  margin: 0;
}
.wrapper {
  object-fit: cover;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -374.075px;
}
.footer,
.push {
  height: 374.075px;
}

.dropdown-menu {
  background: rgb(191, 205, 255);
}

.modal-registration {
  box-shadow: 0px 0px 15px 5px rgb(0, 255, 255) !important;
  border-radius: 0.5rem !important;
}

small {
  font-size: 10px;
}

.close span {
  color: aqua;
}

/* news line */
.news {
  width: 160px;
  border-radius: 0rem 1rem 1rem 0rem;
}

.news-scroll a {
  text-decoration: none;
}

.bg-news {
  background-color: rgb(10, 38, 129);
}

/* news line */

/* landing page */

/* end of landing page */

/* home page */
.nav-link img {
  width: 2rem;
}
main {
  margin-top: 70px;
}

.content {
  background: url(../images/background-img.png) fixed center center;
  background-size: cover;
  min-height: 35rem;
}

.game-banner img {
  width: 100%;
  margin: 0.5rem 0;
}

.game-banner a img:hover {
  box-shadow: 3px 3px 10px 10px rgb(0, 255, 255);
}

.title-bar span {
  color: white;
  background: black;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid aqua;
}

.featured-games {
  background: rgb(8, 8, 94);
  border-radius: 100%;
  margin: 1rem;
}

.featured-games:hover {
  box-shadow: 5px 5px 12px 5px rgb(0, 255, 255);
  zoom: 1.1;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 1rem;
}
.gif-banner img {
  width: 100%;
}

.social-footer {
  background: #29286b;
  height: auto;
}

.banner-footer {
  background: #0e1d4a;
  height: auto;
}

.btn-nav {
  width: 10rem;
}

h3 .intro-title {
  color: aqua;
}

.intro-message {
  font-size: 18px;
}

/* custom grid layout */
@media screen and (min-width: 1201px) {
  .sub-login-menu {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  main {
    margin-top: 60px;
  }
  .navbar-brand img {
    width: 13rem;
  }
  .featured-games {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  main {
    margin-top: 65px;
  }
  .navbar-brand img {
    width: 13rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  main {
    margin-top: 65px;
  }
  .navbar-brand img {
    width: 10rem;
  }
  .featured-games {
    width: 8rem;
    height: 8rem;
  }
  .social-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .carousel-indicators li {
    visibility: hidden;
  }

  .navbar-brand img {
    width: 10rem;
  }

  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 62px;
  }

  .featured-games {
    width: 5rem;
    height: 5rem;
  }
  .social-footer {
    font-size: 10px;
  }

  .intro-message {
    font-size: 12px;
  }

  .font-news {
    font-size: 10px;
  }
}

/* end of home page */

/* card games */
.banner-shadow {
  box-shadow: 5px 5px 12px 5px rgb(0, 255, 255);
  background-color: rgba(26, 26, 116, 0.432);
}

.card-game-wrapper {
  background: rgb(8, 8, 94);
  border-radius: 100%;
  margin: 1rem;
}
.card-game-wrapper:hover {
  zoom: 1.1;
  box-shadow: 5px 5px 12px 5px rgb(0, 255, 255);
}

/* end of card games */

/* lottery games */
.lottery-card-result {
  border: 2px solid aqua;
  border-radius: 1rem;
  color: white;
  background: rgb(18, 18, 92);
}

.lottery-country {
  color: aqua;
}

.card-body div a:hover {
  color: black !important;
  border: 2px solid black !important;
  background-color: aqua !important;
  box-shadow: 2px 2px 7px 7px rgb(0, 255, 255);
}

/* end of lottery games */
